body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: auto;
    font-style: auto;
}

.banner {
    background-color: rgba(229, 84, 115, 0.2);
}

.banner-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 90px;
    padding: 0 150px;
    padding-top: 30px;

    img {
        max-width: 435px;
        max-height: 600px;
    }
}

.banner-title {
    color: #272727;
    font-weight: 800;
    font-size: 40px;
    line-height: 44px;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner-discription {
    color: #272727;
    font-size: 19px;
    margin: 20px 0;
}

.banner-btn {
    padding: 13px 18px;
    background-color: #E55473;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 5px;
}


.feature-section {
    text-align: center;
    padding: 20px;
}


.feature-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.feature-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;

}

@media only screen and (min-width:1000px) {
    .feature-description {
        max-width: 550px;
        margin: 0 auto 25px;
    }
}

.feature-flower-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

.feature-card a {
    color: black;
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
}

.feature-body {
    position: relative;
}

.flower {
    position: absolute;
    top: 70px;
    max-height: 350px;
}


@media (max-width: 1200px) {
    .feature-card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .feature-card {
        flex: 1 1 calc(100% - 20px);
    }
}


.support-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: rgba(43, 43, 43, 0.07);
    margin: 20px auto 0;
    padding: 35px;
    justify-content: center;
    align-content: start;
    grid-gap: 30px;
}


.support-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.support-container p {
    padding: 10px 0 0;
    margin: 0;
}


.support-container img {
    max-width: 17%;
    height: auto;
}


@media screen and (max-width: 768px) {
    .support-container {
        grid-template-columns: 1fr;
    }

    .support-container img {
        max-width: 15%;
        height: auto;
    }
}